* {
  margin: 0;
  padding: 0;
	list-style: none;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
}

.nav-bar {
	width: 100%;
	height: 50px;
	background-color: rgb(137, 160, 206);
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.elements {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	padding: 15px 20px;
	background-color: transparent;
	color: whitesmoke;
}

.burgerDiv {
  display: none;
}

.rows {
  cursor: pointer;
}

.span {
  width: 30px;
  height: 4px;
  background-color: black;
  margin-bottom: 5px;
  border-radius: 2px;
  transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

@media (max-width: 750px) {
	.nav-bar {
		width: 200px;
		height: 100vh;
		background-color: rgb(137, 160, 206, 0.5);
		transform: translateX(-100%);
	}

	.elements {
    flex-direction: column;
    align-items: flex-start;
  }

	.burgerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.sidebar {
  transform: translateX(0px);
}

.line-0 {
  transform: rotate(45deg) translate(4.5px, 12px);
}

.line-1 {
  transform: scale(0);
}

.line-2 {
  transform: rotate(-45deg) translateY(-7.5px);
}

